.navbar {
    height: 100px;
    background-color: rgb(77, 25, 25);
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}